@import url("../js/library/aos/aos.css");
@import url("../js/library/swiper/swiper-bundle-min.css");
@import url("../assets/font/BeVietNam/stylesheet.css");
@keyframes ring {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  height: 100%;
}
* ::-webkit-scrollbar-track {
  background: #fff;
}
* ::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 16px;
}
* :hover::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #262626;
  font-weight: 400;
  font-family: "Be VietNam Pro";
}

a {
  color: #262626;
  text-decoration: none;
}

iframe {
  vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button,
select {
  border: none;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  transition: 0.6s ease-in-out;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-padding {
  padding: 6rem 0;
}
@media screen and (max-width: 1200px) {
  .section-padding {
    padding: 4rem 0;
  }
}

.dot {
  position: relative;
  padding-left: 1.5rem;
}
.dot::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: block;
  position: absolute;
  transition: 0.4s ease-in-out;
  background: rgba(38, 38, 38, 0.5);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 999px;
}

.logo {
  display: block;
  height: 4rem;
}
.logo.vuthao {
  width: 11rem;
}
.logo.ketnoiphang {
  width: 18.2rem;
}

.footer {
  overflow: hidden;
  background: #fafafa;
}

.ft-top {
  padding-top: 6rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .ft-top {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .ft-top {
    row-gap: 2rem;
    flex-direction: column;
  }
}
.ft-top-cl {
  flex-wrap: nowrap;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
.ft-top-cl:nth-child(1) {
  gap: 8rem;
}
@media screen and (max-width: 650px) {
  .ft-top-cl:nth-child(1) {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.ft-top-social {
  gap: 1.5rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
.ft-top-social a {
  transition: 0.4s ease-in-out;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1201px) {
  .ft-top-social a:hover {
    transform: translateY(-1.2rem);
  }
}
.ft-center-wrap {
  margin: 0 -2rem;
  row-gap: 4rem;
  flex-wrap: wrap;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media screen and (max-width: 991px) {
  .ft-center-wrap {
    margin: 0 -1rem;
    row-gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .ft-center-wrap {
    margin: 0 -0.5rem;
  }
}
.ft-center-cl {
  padding: 0 2rem;
  width: 33.3333333333%;
}
@media screen and (max-width: 991px) {
  .ft-center-cl {
    padding: 0 1rem;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .ft-center-cl {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  .ft-center-cl {
    width: 100%;
  }
}
.ft-center-cl ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 1201px) {
  .ft-center-cl ul li:hover h2 {
    color: #0060ff;
  }
  .ft-center-cl ul li:hover a[href="#"] {
    color: #0060ff;
  }
  .ft-center-cl ul li:hover a[href="#"].dot::before {
    background: #0060ff;
  }
}
.ft-center-cl ul li h2 {
  color: #544837;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .ft-center-cl ul li h2 {
    font-size: 1.6rem;
  }
}
.ft-center-cl ul li a {
  font-size: 1.4rem;
  line-height: 2rem;
  transition: 0.4s ease-in-out;
}
.ft-center-cl ul li span {
  font-weight: 600;
}
.ft-center-cl:nth-child(1) ul li:nth-child(4) span {
  color: #1665d8;
}
.ft-center-cl:nth-child(3) ul li:nth-child(2) a, .ft-center-cl:nth-child(3) ul li:nth-child(5) a {
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .ft-center-cl:nth-child(4) {
    display: none;
  }
}
.ft-center-img {
  width: 13.8rem;
  height: 5.2rem;
}
.ft-center-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.ft-bottom-wrap {
  padding: 1rem 0;
  position: relative;
}
.ft-bottom-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100vw;
  background: #eee;
  transform: translateX(-50%);
}
.ft-bottom-policy ul {
  gap: 6rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
@media screen and (max-width: 767px) {
  .ft-bottom-policy ul {
    gap: 2rem;
    overflow: auto hidden;
  }
}
@media screen and (max-width: 542px) {
  .ft-bottom-policy ul {
    justify-content: initial;
  }
}
@media screen and (min-width: 1201px) {
  .ft-bottom-policy ul li:hover a[href="#"] {
    color: #0060ff;
  }
  .ft-bottom-policy ul li:hover a[href="#"].dot::before {
    background: #0060ff;
  }
}
.ft-bottom-policy ul li a {
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

.hd {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 7rem;
  position: sticky;
  padding: 1.5rem 0;
  background: #fff;
  transition: 0.8s ease-in-out;
  box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.14);
}
.hd-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.hd-menu {
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .hd-menu {
    transform: translateX(-100%);
  }
}
.hd-menu.active {
  transform: translateX(0);
}
.hd-menu .hd-logo {
  display: none;
}
@media screen and (max-width: 1200px) {
  .hd-menu .hd-logo {
    display: block;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #e5e5e5;
  }
}
@media screen and (max-width: 1200px) {
  .hd-menu {
    top: 0;
    left: 0;
    z-index: 4;
    width: 38rem;
    height: 100%;
    position: fixed;
    background: #fff;
    overflow: hidden auto;
    box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.14);
    flex-direction: column;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .hd-menu {
    width: 35rem;
  }
}
@media screen and (max-width: 400px) {
  .hd-menu {
    width: 30rem;
  }
}
@media screen and (max-width: 350px) {
  .hd-menu {
    width: 27rem;
  }
}
.hd-menu-info {
  margin-top: auto;
  padding: 1.5rem;
}
.hd-menu-info > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1201px) {
  .hd-menu-info {
    display: none;
  }
}
.hd-menu-info h3 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #0091ff;
  line-height: 2.2rem;
}
.hd-menu-info a {
  display: block;
  font-size: 1.6rem;
  color: #544837;
}
.hd-menu-info .ft-top-social {
  justify-content: center;
}
.hd .menu-list {
  margin: 0 -2.5rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
@media screen and (max-width: 1200px) {
  .hd .menu-list {
    margin: 0;
    padding: 1rem 0;
    align-items: baseline;
    flex-direction: column;
  }
}
.hd .menu-item {
  padding: 0 2.5rem;
  position: relative;
}
.hd .menu-item:nth-child(7) > a {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
.hd .menu-item:nth-child(7) > a::before {
  display: none;
}
@media screen and (max-width: 1200px) {
  .hd .menu-item:nth-child(7) {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .hd .menu-item:hover > a {
    color: #0091ff;
  }
  .hd .menu-item:hover > a::before {
    width: calc(100% - 5rem);
  }
  .hd .menu-item:hover .ic-down {
    transform: rotate(180deg);
  }
  .hd .menu-item:hover .ic-down::before {
    color: #0091ff;
  }
  .hd .menu-item:hover.dropdown > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(0, 0rem);
  }
}
@media screen and (max-width: 1200px) {
  .hd .menu-item {
    padding: 1.5rem;
    width: 100%;
  }
}
.hd .menu-item.current-page-item > a {
  font-weight: 600;
  color: #28b0ff;
}
.hd .menu-item.current-page-item > a::before {
  width: calc(100% - 5rem);
}
@media screen and (max-width: 1200px) {
  .hd .menu-item.current-page-item > a::before {
    bottom: -1.4rem;
    width: 100%;
  }
}
.hd .menu-item.current-page-item .ic::before {
  font-weight: 700;
  color: #28b0ff;
}
@media screen and (min-width: 1201px) {
  .hd .menu-item.dropdown::before {
    content: "";
    left: 0;
    bottom: -2.8rem;
    width: 100%;
    height: 2.6rem;
    position: absolute;
    background: transparent;
  }
}
@media screen and (min-width: 1201px) {
  .hd .menu-item.dropdown > ul {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s ease-in-out;
    transform: translate(0, 2.5rem);
  }
}
.hd .menu-item > a {
  color: #544837;
  transition: 0.4s ease-in-out;
}
.hd .menu-item > a::before {
  content: "";
  left: 0;
  right: 0;
  width: 0;
  bottom: -3rem;
  margin: auto;
  height: 0.4rem;
  position: absolute;
  border-radius: 0.4rem;
  background: #28b0ff;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .hd .menu-item > a {
    width: 100%;
    display: block;
    position: relative;
  }
}
.hd .menu-item .ic {
  display: inline-block;
  margin-left: 0.5rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.hd .menu-item .ic::before {
  font-size: 1.2rem;
  transition: 0.4s ease-in-out;
}
.hd .menu-item .ic-down.active {
  transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
  .hd .menu-item .ic-down {
    top: 1.2rem;
    right: 1rem;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.hd .menu-phone .ic {
  margin-right: 0.8rem;
}
.hd .menu-phone .ic::before {
  font-size: 1.8rem;
}
.hd .menu-phone span {
  color: #0091ff;
}
@media screen and (min-width: 1201px) {
  .hd-bar {
    display: none;
  }
}
.hd-bar.active span:nth-child(1) {
  transform: translateY(0.9rem) rotate(45deg);
}
.hd-bar.active span:nth-child(2) {
  opacity: 0;
}
.hd-bar.active span:nth-child(3) {
  transform: translateY(-0.9rem) rotate(-45deg);
}
.hd-bar span {
  width: 3.2rem;
  height: 0.3rem;
  display: block;
  margin-top: 0.6rem;
  border-radius: 0.5rem;
  background: #000;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hd .submobile {
  top: 4rem;
  background: #fff;
  position: absolute;
  border-top: 0.4rem solid #28b0ff;
  box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.14);
}
@media screen and (max-width: 1200px) {
  .hd .submobile {
    top: unset;
    display: none;
    position: relative;
    margin-top: 1rem;
  }
}
.hd .mega {
  left: -100%;
  padding: 4rem 2rem;
  min-width: 76rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
@media screen and (max-width: 1200px) {
  .hd .mega {
    left: unset;
    display: none;
    min-width: auto;
    padding: 1.5rem;
  }
}
.hd .mega-item {
  padding: 0 2rem;
  position: relative;
  margin-bottom: -2rem;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .hd .mega-item {
    width: 100%;
  }
  .hd .mega-item:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.hd .mega-item:nth-child(1) {
  padding-left: 0;
}
@media screen and (max-width: 1200px) {
  .hd .mega-item:nth-child(1) {
    padding: 0;
  }
}
@media screen and (min-width: 1201px) {
  .hd .mega-item:nth-child(1)::before {
    content: "";
    top: -2rem;
    right: 0;
    width: 0.1rem;
    position: absolute;
    background: #e5e5e5;
    height: calc(100% + 2rem);
  }
}
.hd .mega-item:nth-child(2) {
  padding-right: 0;
}
@media screen and (max-width: 1200px) {
  .hd .mega-item:nth-child(2) {
    padding: 0;
  }
}
.hd .mega-item > * {
  margin-bottom: 2rem;
}
.hd .mega-item > h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #2f281e;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .hd .mega-item > h2 {
    font-size: 1.6rem;
  }
}
.hd .mega-item-inner {
  margin: 0 -0.5rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
@media screen and (max-width: 350px) {
  .hd .mega-item-inner {
    margin: 0;
    row-gap: 1rem;
    flex-wrap: wrap;
  }
}
.hd .mega-item-img {
  padding: 0 0.5rem;
}
@media screen and (min-width: 1201px) {
  .hd .mega-item-img:hover img {
    transform: translateY(-0.5rem);
  }
}
@media screen and (max-width: 350px) {
  .hd .mega-item-img {
    padding: 0;
    display: none;
  }
}
.hd .mega-item-img a {
  padding: 0.6rem;
  display: block;
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, #c0ebff 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
}
.hd .mega-item-img a img {
  height: 100%;
}
.hd .mega-item-info {
  padding: 0 0.5rem;
}
@media screen and (min-width: 1201px) {
  .hd .mega-item-info:hover h2 {
    font-weight: 600;
  }
  .hd .mega-item-info:hover p {
    font-weight: 600;
  }
}
@media screen and (max-width: 350px) {
  .hd .mega-item-info {
    padding: 0;
  }
}
.hd .mega-item-info a h2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: normal;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 1201px) {
  .hd .mega-item-info a h2::after {
    content: attr(title);
    display: block;
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .hd .mega-item-info a h2 {
    font-size: 1.4rem;
  }
}
.hd .mega-item-info a h2 span {
  font-weight: 700;
  position: relative;
}
@media screen and (max-width: 350px) {
  .hd .mega-item-info a h2 span {
    display: block;
    margin-bottom: 0.6rem;
  }
}
.hd .mega-item-info a h2 span::after {
  content: "-";
  margin: 0 0.2rem;
}
@media screen and (max-width: 350px) {
  .hd .mega-item-info a h2 span::after {
    display: none;
  }
}
.hd .mega-item-info a h2 span.DPM {
  color: #415086;
}
.hd .mega-item-info a h2 span.DCM {
  color: #ffc107;
}
.hd .mega-item-info a h2 span.DSIGN {
  color: #00c86b;
}
.hd .mega-item-info a h2 span.Hub {
  color: #28b0ff;
}
.hd .mega-item-info a p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #858585;
}
@media screen and (min-width: 1201px) {
  .hd .mega-item-info a p::after {
    content: attr(title);
    display: block;
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.hd .submenu {
  left: 0;
  padding: 2rem;
  min-width: 25rem;
}
@media screen and (max-width: 1200px) {
  .hd .submenu {
    left: 0;
    display: none;
    padding: 1.5rem;
    min-width: auto;
  }
}
.hd .submenu-item:not(:last-child) {
  margin-bottom: 2rem;
}
.hd .submenu-item:nth-child(2) .submenu-item-img a {
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, #efe 53.23%, #b4f1b4 100%);
}
.hd .submenu-item:nth-child(3) .submenu-item-img a {
  background: radial-gradient(115.64% 115.64% at 50% 50%, #fff 0%, #fdf6e2 28.13%, #ffca2f 100%);
}
.hd .submenu-item-inner {
  margin: 0 -0.5rem;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
}
@media screen and (max-width: 350px) {
  .hd .submenu-item-inner {
    margin: 0;
  }
}
.hd .submenu-item-img {
  padding: 0 0.5rem;
}
@media screen and (min-width: 1201px) {
  .hd .submenu-item-img:hover img {
    transform: translateY(-0.5rem);
  }
}
@media screen and (max-width: 350px) {
  .hd .submenu-item-img {
    padding: 0;
    display: none;
  }
}
.hd .submenu-item-img a {
  padding: 0.8rem;
  display: block;
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, #c0ebff 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
}
.hd .submenu-item-img a img {
  height: 100%;
}
.hd .submenu-item-info {
  padding: 0 0.5rem;
}
@media screen and (min-width: 1201px) {
  .hd .submenu-item-info:hover h2 {
    font-weight: 600;
  }
  .hd .submenu-item-info:hover p {
    font-weight: 600;
  }
}
@media screen and (max-width: 350px) {
  .hd .submenu-item-info {
    padding: 0;
  }
}
.hd .submenu-item-info h2 {
  color: #262626;
  font-weight: 400;
  font-size: 1.4rem;
}
@media screen and (min-width: 1201px) {
  .hd .submenu-item-info h2::after {
    content: attr(title);
    display: block;
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

#scrollTop {
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  z-index: 999;
  position: fixed;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1280px) {
  #scrollTop {
    bottom: 5%;
  }
}
@media screen and (max-width: 1199px) {
  #scrollTop {
    right: 2.88rem;
  }
}
@media screen and (max-width: 767px) {
  #scrollTop {
    right: 1rem;
  }
}
#scrollTop.active {
  opacity: 1;
}

.st .input-contact {
  z-index: 10;
  display: block;
  padding: 0.8rem;
  position: relative;
  background: #0060ff;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
}
.st .input-contact::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(2);
  animation: pulse 2.5s infinite;
  background: linear-gradient(135deg, #21d1f7 14.64%, #2196f3 85.36%);
}
.st .input-contact:nth-child(1) {
  margin-bottom: 2rem;
}
.st .input-contact:nth-child(2) {
  background: linear-gradient(135deg, #21d1f7 0%, #2196f3 100%);
}
.st .input-contact:nth-child(2) img {
  animation: ring 1.5s infinite ease-in-out;
}
.st .input-contact img {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 1201px) {
  .st .input-contact img:hover {
    transform: translateY(-0.5rem);
  }
}