@import url("../js/library/aos/aos.css");
@import url("../js/library/hover/hover.css");
@import url("../js/library/swiper/swiper-bundle-min.css");
@import url("../assets/font/Raleway/stylesheet.css");
.bar {
  height: 3px;
  background: #000;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.mobile-menu.active .bar:nth-child(2) {
  display: none; }

.mobile-menu.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
  -webkit-transform: translateY(6px) rotate(-45deg);
  -moz-transform: translateY(6px) rotate(-45deg);
  -ms-transform: translateY(6px) rotate(-45deg);
  -o-transform: translateY(6px) rotate(-45deg); }

.mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(45deg);
  -webkit-transform: translateY(-6px) rotate(45deg);
  -moz-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  -o-transform: translateY(-6px) rotate(45deg); }

.rotate {
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * ::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    height: 100%; }
  * ::-webkit-scrollbar-track {
    background: #fff; }
  * ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 16px; }
  * :hover::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Raleway"; }

a {
  text-decoration: none;
  color: #000; }

.main {
  padding-top: 7rem; }

button,
select {
  border: none;
  outline: none; }

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; }

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 15px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu {
  display: block; }

ol,
ul {
  list-style: none !important; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7rem;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.14221); }
  .header-wrap {
    height: 100%; }
  .header-inner {
    height: 100%; }
    .header-inner .list-box {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      position: relative; }
      @media screen and (max-width: 1120px) {
        .header-inner .list-box {
          justify-content: space-between; } }
      .header-inner .list-box .header-logo {
        width: 20%;
        height: 3.8rem;
        max-width: 19.7rem;
        margin-right: 4.5rem;
        position: relative; }
        @media screen and (max-width: 1120px) {
          .header-inner .list-box .header-logo {
            width: 50%; } }
        .header-inner .list-box .header-logo img {
          object-fit: contain; }
      .header-inner .list-box .mobile-menu {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        position: absolute;
        top: 2.2rem;
        right: 18rem;
        display: none; }
        @media screen and (max-width: 1120px) {
          .header-inner .list-box .mobile-menu {
            display: flex; } }
        @media screen and (max-width: 450px) {
          .header-inner .list-box .mobile-menu {
            right: 16rem; } }
        @media screen and (max-width: 360px) {
          .header-inner .list-box .mobile-menu {
            right: 14rem; } }
      .header-inner .list-box .header-link {
        width: 65%; }
        @media screen and (max-width: 1120px) {
          .header-inner .list-box .header-link {
            width: 100%;
            margin: 0;
            top: 7rem;
            display: none;
            position: absolute;
            background: #fff;
            box-shadow: 0 0.125rem 0.5625rem rgba(0, 0, 0, 0.14221); } }
        .header-inner .list-box .header-link > ul {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          justify-content: end; }
          @media screen and (max-width: 1120px) {
            .header-inner .list-box .header-link > ul {
              flex-direction: column; } }
          .header-inner .list-box .header-link > ul > li {
            position: relative;
            margin-right: 4.5rem; }
            @media screen and (max-width: 1120px) {
              .header-inner .list-box .header-link > ul > li {
                width: 100%;
                margin-right: 0;
                display: block;
                text-align: left;
                padding: 20px; } }
            .header-inner .list-box .header-link > ul > li:nth-child(2) {
              margin-right: 0; }
            .header-inner .list-box .header-link > ul > li.product {
              margin-right: 0; }
              .header-inner .list-box .header-link > ul > li.product .item-box {
                padding: 0.9rem 1.5rem;
                background: #f6f8ff;
                border-radius: 1.7rem;
                margin-left: 18px;
                margin-right: 30px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center; }
                @media screen and (max-width: 1120px) {
                  .header-inner .list-box .header-link > ul > li.product .item-box {
                    margin: 0 auto;
                    width: fit-content; } }
                .header-inner .list-box .header-link > ul > li.product .item-box::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 30px;
                  background: transparent;
                  bottom: -25px;
                  left: 0;
                  cursor: pointer; }
                .header-inner .list-box .header-link > ul > li.product .item-box a {
                  margin-right: 0.4rem; }
              .header-inner .list-box .header-link > ul > li.product:hover ul {
                visibility: visible;
                display: block;
                opacity: 1; }
                @media screen and (max-width: 1120px) {
                  .header-inner .list-box .header-link > ul > li.product:hover ul {
                    visibility: initial;
                    display: none; } }
              .header-inner .list-box .header-link > ul > li.product:hover a {
                color: #002485; }
              .header-inner .list-box .header-link > ul > li.product ul {
                display: none;
                visibility: hidden;
                position: absolute;
                width: 74rem;
                background: #fff;
                left: 0;
                top: 5.4rem;
                margin: 0;
                padding: 1rem; }
                @media screen and (max-width: 1120px) {
                  .header-inner .list-box .header-link > ul > li.product ul {
                    width: 100%;
                    position: static;
                    visibility: initial; } }
                .header-inner .list-box .header-link > ul > li.product ul.item-product {
                  min-height: 26rem; }
                .header-inner .list-box .header-link > ul > li.product ul > li {
                  width: calc(50% - 1.5rem);
                  float: left;
                  margin: 0 auto; }
                  @media screen and (max-width: 600px) {
                    .header-inner .list-box .header-link > ul > li.product ul > li {
                      width: 100%;
                      float: initial; } }
                  .header-inner .list-box .header-link > ul > li.product ul > li.mega {
                    padding: 1rem; }
                    .header-inner .list-box .header-link > ul > li.product ul > li.mega:not(:last-child) {
                      border-right: 1px solid #e5e5e5;
                      margin-right: 1.5rem; }
                      @media screen and (max-width: 600px) {
                        .header-inner .list-box .header-link > ul > li.product ul > li.mega:not(:last-child) {
                          margin-right: 0;
                          border-right: 0; } }
                    @media screen and (max-width: 1120px) {
                      .header-inner .list-box .header-link > ul > li.product ul > li.mega ul {
                        display: block; } }
                    @media screen and (max-width: 600px) {
                      .header-inner .list-box .header-link > ul > li.product ul > li.mega ul li a {
                        margin: 0; } }
                  .header-inner .list-box .header-link > ul > li.product ul > li > ul {
                    display: block;
                    position: relative;
                    width: 100%;
                    border: 0;
                    background: transparent;
                    box-shadow: unset;
                    top: 0;
                    padding: 0; }
                    .header-inner .list-box .header-link > ul > li.product ul > li > ul > li {
                      width: 100%;
                      display: -webkit-flex;
                      display: -moz-flex;
                      display: -ms-flex;
                      display: -o-flex;
                      display: flex;
                      align-items: center;
                      margin-bottom: 5px; }
                      .header-inner .list-box .header-link > ul > li.product ul > li > ul > li:nth-child(1) {
                        font-size: 1.8rem;
                        font-weight: 700;
                        margin-bottom: 3rem;
                        justify-content: center;
                        text-transform: uppercase; }
                      .header-inner .list-box .header-link > ul > li.product ul > li > ul > li:not(:nth-child(1)) {
                        padding: 1rem;
                        transition: 0.4s ease; }
                        .header-inner .list-box .header-link > ul > li.product ul > li > ul > li:not(:nth-child(1)):hover {
                          border-radius: 5px;
                          background: #fff;
                          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14); }
                      .header-inner .list-box .header-link > ul > li.product ul > li > ul > li > a {
                        font-size: 1.4rem; }
                        .header-inner .list-box .header-link > ul > li.product ul > li > ul > li > a:hover::before {
                          opacity: 0;
                          width: 0; }
                        .header-inner .list-box .header-link > ul > li.product ul > li > ul > li > a span {
                          font-weight: 600;
                          color: #415086; }
                        .header-inner .list-box .header-link > ul > li.product ul > li > ul > li > a p {
                          color: #858585;
                          font-size: 14px; }
                      .header-inner .list-box .header-link > ul > li.product ul > li > ul > li > img {
                        max-width: 4.5rem;
                        max-height: 4.5rem;
                        object-fit: contain;
                        margin-right: 1rem; }
            .header-inner .list-box .header-link > ul > li a {
              display: block;
              position: relative;
              transition: 0.4s ease; }
              @media screen and (max-width: 1120px) {
                .header-inner .list-box .header-link > ul > li a {
                  margin: 0 auto;
                  width: fit-content; } }
              .header-inner .list-box .header-link > ul > li a::before {
                content: "";
                width: 0;
                height: 0.3rem;
                bottom: -0.3rem;
                left: 0;
                opacity: 0.6;
                background: #2645b5;
                position: absolute;
                transition: width 0.3s ease 0s, opacity 0.3s ease 0s; }
              .header-inner .list-box .header-link > ul > li a:hover::before {
                width: 100%;
                opacity: 1; }
              .header-inner .list-box .header-link > ul > li a.selected {
                display: block;
                font-weight: 600;
                color: #2645b5;
                border-bottom: 0.3rem solid #2645b5; }
            .header-inner .list-box .header-link > ul > li:hover .ic-down {
              transform: rotateZ(180deg); }
            .header-inner .list-box .header-link > ul > li:hover .ic-down::before {
              color: #002485; }
            .header-inner .list-box .header-link > ul > li .ic-down {
              cursor: pointer;
              color: #bdbdbd;
              transition: 0.4s ease; }
              .header-inner .list-box .header-link > ul > li .ic-down::before {
                display: block;
                font-size: 0.6rem; }
      .header-inner .list-box .header-contact {
        width: 15%; }
        @media screen and (max-width: 1120px) {
          .header-inner .list-box .header-contact {
            width: 50%; } }
        .header-inner .list-box .header-contact .contact-box {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center; }
          @media screen and (max-width: 1120px) {
            .header-inner .list-box .header-contact .contact-box {
              justify-content: flex-end; } }
          .header-inner .list-box .header-contact .contact-box .language {
            cursor: pointer;
            margin-right: 2.5rem;
            position: relative; }
            @media screen and (max-width: 450px) {
              .header-inner .list-box .header-contact .contact-box .language {
                margin-right: 1rem; } }
            .header-inner .list-box .header-contact .contact-box .language img {
              width: 2.3rem;
              height: 1.5rem;
              object-fit: contain; }
          .header-inner .list-box .header-contact .contact-box .header-contact {
            width: fit-content;
            position: relative; }
            .header-inner .list-box .header-contact .contact-box .header-contact a {
              border-radius: 17px;
              background: #fff;
              cursor: pointer;
              overflow: hidden;
              position: relative;
              transition: 0.5s;
              border: 1px solid #002485;
              padding: 0.7rem 3rem;
              z-index: 5; }
              @media screen and (max-width: 450px) {
                .header-inner .list-box .header-contact .contact-box .header-contact a {
                  padding: 0.5rem 2rem; } }
              .header-inner .list-box .header-contact .contact-box .header-contact a span {
                color: #002485;
                font-weight: 600; }

.banner-content {
  position: relative; }
  .banner-content-img {
    position: relative;
    padding-top: calc((700 / 1728) * 115%); }
    @media screen and (max-width: 1100px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 145%); } }
    @media screen and (max-width: 880px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 180%); } }
    @media screen and (max-width: 700px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 220%); } }
    @media screen and (max-width: 700px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 250%); } }
    @media screen and (max-width: 600px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 280%); } }
    @media screen and (max-width: 500px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 350%); } }
    @media screen and (max-width: 450px) {
      .banner-content-img {
        padding-top: calc((700 / 1728) * 400%); } }
  .banner-content-title {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 700px) {
      .banner-content-title {
        top: 10%; } }
    .banner-content-title .content-box {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 700px) {
        .banner-content-title .content-box {
          justify-content: start;
          flex-direction: column-reverse; } }
      .banner-content-title .content-box .box-left {
        width: 55%; }
        @media screen and (max-width: 1100px) {
          .banner-content-title .content-box .box-left {
            width: 50%; } }
        @media screen and (max-width: 700px) {
          .banner-content-title .content-box .box-left {
            width: 100%;
            margin-top: 4rem; } }
        .banner-content-title .content-box .box-left .content {
          padding-top: 0; }
          .banner-content-title .content-box .box-left .content h1 {
            color: #2f281e;
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 2rem; }
            @media screen and (max-width: 1100px) {
              .banner-content-title .content-box .box-left .content h1 {
                font-size: 4rem; } }
            @media screen and (max-width: 1000px) {
              .banner-content-title .content-box .box-left .content h1 {
                font-size: 3.5rem; } }
            @media screen and (max-width: 880px) {
              .banner-content-title .content-box .box-left .content h1 {
                font-size: 3rem; } }
            @media screen and (max-width: 760px) {
              .banner-content-title .content-box .box-left .content h1 {
                font-size: 2.6rem; } }
            @media screen and (max-width: 400px) {
              .banner-content-title .content-box .box-left .content h1 {
                font-size: 2.2rem; } }
          .banner-content-title .content-box .box-left .content p {
            font-size: 2.6rem;
            color: #262626;
            line-height: 36px;
            margin-bottom: 40px; }
            @media screen and (max-width: 1100px) {
              .banner-content-title .content-box .box-left .content p {
                font-size: 2.2rem; } }
            @media screen and (max-width: 1000px) {
              .banner-content-title .content-box .box-left .content p {
                font-size: 2rem; } }
            @media screen and (max-width: 760px) {
              .banner-content-title .content-box .box-left .content p {
                font-size: 1.6rem; } }
            @media screen and (max-width: 400px) {
              .banner-content-title .content-box .box-left .content p {
                font-size: 1.4rem; } }
            .banner-content-title .content-box .box-left .content p span {
              font-weight: 700; }
        .banner-content-title .content-box .box-left .button {
          width: fit-content;
          position: relative; }
          .banner-content-title .content-box .box-left .button a {
            background: linear-gradient(180deg, #94abff -0.01%, #3456cf 50%, #2645b5 100%);
            border-radius: 1.75rem;
            padding: 0.92rem 4rem; }
            @media screen and (max-width: 400px) {
              .banner-content-title .content-box .box-left .button a {
                padding: 1rem 2rem; } }
            .banner-content-title .content-box .box-left .button a span {
              color: #fff;
              font-weight: 700; }
      .banner-content-title .content-box .box-right {
        width: 45%; }
        @media screen and (max-width: 1100px) {
          .banner-content-title .content-box .box-right {
            width: 50%; } }
        @media screen and (max-width: 700px) {
          .banner-content-title .content-box .box-right {
            width: 60%; } }
        @media screen and (max-width: 500px) {
          .banner-content-title .content-box .box-right {
            width: 100%; } }
        .banner-content-title .content-box .box-right .content-img {
          position: relative;
          padding-top: calc((340 / 572) * 100%); }

.content {
  padding-top: 10rem; }
  .content.form-two {
    background: #f9f9ff; }
  .content.form-four {
    background: #f9f9ff; }
  .content-inner .form-top {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem; }
    .content-inner .form-top h2 {
      color: #264585;
      font-size: 2.8rem;
      margin-bottom: 2rem;
      text-transform: uppercase; }
      @media screen and (max-width: 700px) {
        .content-inner .form-top h2 {
          font-size: 2.4rem; } }
      @media screen and (max-width: 500px) {
        .content-inner .form-top h2 {
          font-size: 2rem; } }
    .content-inner .form-top p {
      font-size: 2.4rem;
      color: #262626; }
      @media screen and (max-width: 700px) {
        .content-inner .form-top p {
          font-size: 2rem; } }
      @media screen and (max-width: 500px) {
        .content-inner .form-top p {
          font-size: 1.6rem; } }
  .content-inner .form-bottom .form-col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative; }
    .content-inner .form-bottom .form-col .form-card {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 7rem; }
      @media screen and (max-width: 1024px) {
        .content-inner .form-bottom .form-col .form-card {
          margin-bottom: 4rem; } }
      @media screen and (max-width: 600px) {
        .content-inner .form-bottom .form-col .form-card {
          width: 100%; } }
      .content-inner .form-bottom .form-col .form-card .card-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding: 2.5rem;
        height: 100%;
        border-radius: 2rem;
        background: #fff; }
        .content-inner .form-bottom .form-col .form-card .card-box .card-img {
          width: 15%;
          position: relative; }
          .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left {
            width: 7rem;
            height: 7rem;
            display: block;
            position: relative; }
            @media screen and (max-width: 900px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left {
                width: 6rem;
                height: 6rem; } }
            @media screen and (max-width: 800px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left {
                width: 5rem;
                height: 5rem; } }
            @media screen and (max-width: 600px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left {
                width: 7rem;
                height: 7rem; } }
            @media screen and (max-width: 470px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left {
                width: 5rem;
                height: 5rem; } }
            .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-left img {
              object-fit: contain; }
          .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-right {
            top: 2rem;
            right: -3.5rem;
            padding-top: 100%;
            position: absolute;
            width: 100%; }
            @media screen and (max-width: 800px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-right {
                top: 1.5rem;
                right: -2.5rem; } }
            .content-inner .form-bottom .form-col .form-card .card-box .card-img .img-right img {
              object-fit: contain; }
        .content-inner .form-bottom .form-col .form-card .card-box .card-text {
          width: 85%;
          margin-left: 5rem; }
          .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(1) {
            font-size: 2.4rem;
            font-weight: 700; }
            @media screen and (max-width: 1024px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(1) {
                font-size: 2rem; } }
            @media screen and (max-width: 800px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(1) {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden; } }
          .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(2) {
            font-size: 2rem;
            color: #858585; }
            @media screen and (max-width: 1024px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(2) {
                font-size: 1.6rem; } }
            @media screen and (max-width: 800px) {
              .content-inner .form-bottom .form-col .form-card .card-box .card-text p:nth-child(2) {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden; } }

.customer-wrap {
  padding: 10rem 0; }

.customer-title {
  margin: auto;
  margin-bottom: 5rem;
  max-width: 80rem;
  text-align: center; }
  .customer-title h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #2645b5; }
    @media screen and (max-width: 700px) {
      .customer-title h2 {
        font-size: 2.4rem; } }
    @media screen and (max-width: 500px) {
      .customer-title h2 {
        font-size: 2rem; } }
  .customer-title p {
    font-size: 2.4rem;
    color: #262626; }
    @media screen and (max-width: 700px) {
      .customer-title p {
        font-size: 2rem; } }
    @media screen and (max-width: 500px) {
      .customer-title p {
        font-size: 1.6rem; } }

.customer-inner-card .customer-inner-body .customer-img {
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-top: calc((196 / 330) * 100%); }
  .customer-inner-card .customer-inner-body .customer-img img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }

.customer-inner-card .customer-inner-body .customer-content {
  padding: 3rem;
  background: #f8f8f8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  .customer-inner-card .customer-inner-body .customer-content p:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .customer-inner-card .customer-inner-body .customer-content p:nth-child(2) {
    color: #858585;
    margin-bottom: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .customer-inner-card .customer-inner-body .customer-content .customer-button {
    margin: 0 auto;
    position: relative;
    width: fit-content; }
    .customer-inner-card .customer-inner-body .customer-content .customer-button a {
      display: block;
      border-radius: 1.8rem;
      text-align: center;
      padding: 0.9rem 3.5rem; }
      .customer-inner-card .customer-inner-body .customer-content .customer-button a.btn-yellow {
        background: #ffc107; }
      .customer-inner-card .customer-inner-body .customer-content .customer-button a.btn-darkblue {
        background: #0060ff; }
      .customer-inner-card .customer-inner-body .customer-content .customer-button a.btn-green {
        background: #00c86b; }
      .customer-inner-card .customer-inner-body .customer-content .customer-button a span {
        color: #fff;
        font-weight: 700; }

.partner {
  background: #f9f9ff; }
  .partner-wrap {
    padding: 13rem 0; }
    @media screen and (max-width: 1024px) {
      .partner-wrap {
        padding: 10rem 0; } }
    @media screen and (max-width: 800px) {
      .partner-wrap {
        padding: 8rem 0; } }
  .partner-inner .partner-column-top {
    margin-bottom: 5rem; }
    .partner-inner .partner-column-top .solution-inner-title {
      margin: 0 auto;
      text-align: center;
      max-width: 80rem; }
      .partner-inner .partner-column-top .solution-inner-title h2 {
        color: #1cc564;
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2rem; }
        @media screen and (max-width: 700px) {
          .partner-inner .partner-column-top .solution-inner-title h2 {
            font-size: 2.4rem; } }
        @media screen and (max-width: 500px) {
          .partner-inner .partner-column-top .solution-inner-title h2 {
            font-size: 2rem; } }
      .partner-inner .partner-column-top .solution-inner-title p {
        font-size: 2.4rem; }
        @media screen and (max-width: 700px) {
          .partner-inner .partner-column-top .solution-inner-title p {
            font-size: 2rem; } }
        @media screen and (max-width: 500px) {
          .partner-inner .partner-column-top .solution-inner-title p {
            font-size: 1.6rem; } }
  .partner-inner .partner-column-bottom .partner-column-logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -0.5rem; }
    .partner-inner .partner-column-bottom .partner-column-logo > div {
      width: 25%;
      height: 7rem;
      padding: 0 0.5rem;
      margin-bottom: 3rem; }
      @media screen and (max-width: 1024px) {
        .partner-inner .partner-column-bottom .partner-column-logo > div {
          width: 33.333%; } }
      @media screen and (max-width: 700px) {
        .partner-inner .partner-column-bottom .partner-column-logo > div {
          width: 50%; } }
      .partner-inner .partner-column-bottom .partner-column-logo > div img {
        object-fit: contain; }

.connect-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url("/assets/img/tinhnang/homepage/banner-02.png"); }
  .connect-box .list-connect {
    padding: 10rem 0; }
    @media screen and (max-width: 500px) {
      .connect-box .list-connect {
        padding: 5rem 0; } }
    .connect-box .list-connect .connect-title {
      max-width: 78rem;
      margin: 0 auto;
      text-align: center; }
      .connect-box .list-connect .connect-title p {
        color: #fff;
        margin-bottom: 3rem;
        font-size: 3.4rem; }
        @media screen and (max-width: 700px) {
          .connect-box .list-connect .connect-title p {
            font-size: 2.4rem; } }
        @media screen and (max-width: 500px) {
          .connect-box .list-connect .connect-title p {
            font-size: 1.6rem; } }
        .connect-box .list-connect .connect-title p span {
          font-weight: 700; }
    .connect-box .list-connect .connect-button {
      width: fit-content;
      margin: 0 auto;
      border-radius: 20px;
      background: linear-gradient(180deg, #94adff -0.01%, #3454c1 50%, #1d3893 100%); }
      .connect-box .list-connect .connect-button a {
        display: block;
        padding: 0.8rem 7.8rem; }
        @media screen and (max-width: 700px) {
          .connect-box .list-connect .connect-button a {
            padding: 0.6rem 7rem; } }
        @media screen and (max-width: 500px) {
          .connect-box .list-connect .connect-button a {
            padding: 0.6rem 6rem; } }
        .connect-box .list-connect .connect-button a span {
          color: #fff;
          font-weight: 700; }

.price {
  background: linear-gradient(0deg, #ffffff 50%, #f3f3ff 100%); }
  .price-inner {
    padding-top: 7rem; }
  .price-list .list-title {
    margin-bottom: 7rem;
    text-align: center; }
    .price-list .list-title h1 {
      font-size: 3.5rem;
      color: #2645b5;
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 1100px) {
        .price-list .list-title h1 {
          font-size: 3rem; } }
      @media screen and (max-width: 1024px) {
        .price-list .list-title h1 {
          font-size: 2.6rem; } }
      @media screen and (max-width: 600px) {
        .price-list .list-title h1 {
          font-size: 2rem; } }
    .price-list .list-title p {
      font-size: 2.8rem; }
      @media screen and (max-width: 1100px) {
        .price-list .list-title p {
          font-size: 2.4rem; } }
      @media screen and (max-width: 1024px) {
        .price-list .list-title p {
          font-size: 2.2rem; } }
      @media screen and (max-width: 600px) {
        .price-list .list-title p {
          font-size: 1.8rem; } }
  .price-list .list-table .table-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem; }
    .price-list .list-table .table-form .table-box {
      width: 25%;
      padding: 0 1.5rem; }
      @media screen and (max-width: 1024px) {
        .price-list .list-table .table-form .table-box {
          width: 50%; } }
      @media screen and (max-width: 450px) {
        .price-list .list-table .table-form .table-box {
          width: 100%;
          margin-bottom: 3rem; } }
      @media screen and (max-width: 1024px) {
        .price-list .list-table .table-form .table-box:nth-child(1) {
          margin-bottom: 3rem; } }
      .price-list .list-table .table-form .table-box:nth-child(1) .table-inner:hover {
        border-color: #888;
        box-shadow: 0px 0px 15px #b2b2b2; }
      .price-list .list-table .table-form .table-box:nth-child(1) .form-title {
        background: rgba(94, 94, 94, 0.1); }
        .price-list .list-table .table-form .table-box:nth-child(1) .form-title h3 {
          color: #5e5e5e; }
      .price-list .list-table .table-form .table-box:nth-child(1) .form-register a {
        background: #5e5e5e; }
      @media screen and (max-width: 1024px) {
        .price-list .list-table .table-form .table-box:nth-child(2) {
          margin-bottom: 3rem; } }
      .price-list .list-table .table-form .table-box:nth-child(2) .table-inner:hover {
        border-color: #ffc107;
        box-shadow: 0px 0px 15px #f9dc87; }
      .price-list .list-table .table-form .table-box:nth-child(2) .form-title {
        background: rgba(255, 193, 7, 0.1); }
        .price-list .list-table .table-form .table-box:nth-child(2) .form-title h3 {
          color: #ffc107; }
      .price-list .list-table .table-form .table-box:nth-child(2) .form-register a {
        background: #ffc107; }
      .price-list .list-table .table-form .table-box:nth-child(3) .table-inner {
        border: 1px solid #1cc564;
        box-shadow: 0px 0px 15px #b2ffd3; }
      .price-list .list-table .table-form .table-box:nth-child(3) .form-title {
        background: rgba(28, 197, 100, 0.1); }
        .price-list .list-table .table-form .table-box:nth-child(3) .form-title h3 {
          color: #1cc564; }
      .price-list .list-table .table-form .table-box:nth-child(3) .form-register a {
        background: #00c86b; }
      .price-list .list-table .table-form .table-box:nth-child(4) .table-inner:hover {
        border-color: #28b0ff;
        box-shadow: 0px 0px 15px #a9defd; }
      .price-list .list-table .table-form .table-box:nth-child(4) .form-title {
        background: rgba(40, 176, 255, 0.1); }
        .price-list .list-table .table-form .table-box:nth-child(4) .form-title h3 {
          color: #28b0ff; }
      .price-list .list-table .table-form .table-box:nth-child(4) .form-register a {
        background: #28b0ff; }
      .price-list .list-table .table-form .table-box .table-inner {
        height: 100%;
        padding: 0.2rem;
        cursor: pointer;
        background: #fff;
        border-radius: 1.2rem;
        border: 1px solid #fff;
        transition: 0.4s ease;
        box-shadow: 0px 2px 10px #f0f0f0; }
        .price-list .list-table .table-form .table-box .table-inner .form-title {
          padding: 1.6rem 0;
          text-align: center;
          margin-bottom: 2.5rem;
          border-top-left-radius: 1.2rem;
          border-top-right-radius: 1.2rem; }
          .price-list .list-table .table-form .table-box .table-inner .form-title h3 {
            text-transform: uppercase;
            font-size: 2.6rem; }
            @media screen and (max-width: 1100px) {
              .price-list .list-table .table-form .table-box .table-inner .form-title h3 {
                font-size: 2.2rem; } }
            @media screen and (max-width: 600px) {
              .price-list .list-table .table-form .table-box .table-inner .form-title h3 {
                font-size: 2rem; } }
        .price-list .list-table .table-form .table-box .table-inner .form-uses {
          border-bottom: 1px solid #e5e5e5; }
          .price-list .list-table .table-form .table-box .table-inner .form-uses p {
            text-align: center; }
            .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(1) {
              color: #000;
              font-size: 2.8rem;
              font-weight: 700;
              margin-bottom: 0.9rem; }
              .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(1) span {
                color: #544837;
                font-weight: 400; }
              @media screen and (max-width: 1100px) {
                .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(1) {
                  font-size: 2.4rem; } }
              @media screen and (max-width: 600px) {
                .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(1) {
                  font-size: 2rem; } }
            .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(2) {
              color: #544837;
              font-size: 1.8rem;
              margin-bottom: 2.4rem; }
              @media screen and (max-width: 1100px) {
                .price-list .list-table .table-form .table-box .table-inner .form-uses p:nth-child(2) {
                  font-size: 1.6rem; } }
        .price-list .list-table .table-form .table-box .table-inner .form-bussiness {
          padding: 2rem;
          margin-bottom: 3rem;
          text-align: center; }
          @media screen and (max-width: 600px) {
            .price-list .list-table .table-form .table-box .table-inner .form-bussiness {
              margin-bottom: 1.2rem; } }
          .price-list .list-table .table-form .table-box .table-inner .form-bussiness p {
            color: #262626;
            font-size: 1.8rem; }
            @media screen and (max-width: 600px) {
              .price-list .list-table .table-form .table-box .table-inner .form-bussiness p {
                font-size: 1.4rem; } }
        .price-list .list-table .table-form .table-box .table-inner .form-register a {
          display: block;
          margin: 0 auto;
          width: fit-content;
          padding: 0.7rem 5rem;
          margin-bottom: 2rem;
          border-radius: 1.8rem; }
          @media screen and (max-width: 600px) {
            .price-list .list-table .table-form .table-box .table-inner .form-register a {
              padding: 0.5rem 4rem; } }
          .price-list .list-table .table-form .table-box .table-inner .form-register a span {
            color: #fff;
            font-weight: 700; }
        .price-list .list-table .table-form .table-box .table-inner .form-img {
          position: relative;
          margin-bottom: 4.5rem;
          padding-top: calc((30 / 183) * 100%); }
          @media screen and (max-width: 600px) {
            .price-list .list-table .table-form .table-box .table-inner .form-img {
              margin-bottom: 3rem; } }
        .price-list .list-table .table-form .table-box .table-inner .form-feature {
          padding: 0 2rem; }
          .price-list .list-table .table-form .table-box .table-inner .form-feature p {
            text-align: center;
            font-weight: 700;
            font-size: 2.8rem;
            margin-bottom: 3.5rem; }
            @media screen and (max-width: 1100px) {
              .price-list .list-table .table-form .table-box .table-inner .form-feature p {
                font-size: 2.2rem; } }
            @media screen and (max-width: 600px) {
              .price-list .list-table .table-form .table-box .table-inner .form-feature p {
                font-size: 1.8rem;
                margin-bottom: 2rem; } }
          .price-list .list-table .table-form .table-box .table-inner .form-feature ul > li {
            height: 5.4rem;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            margin-bottom: 2rem; }
            .price-list .list-table .table-form .table-box .table-inner .form-feature ul > li i {
              line-height: 3rem;
              margin-right: 1.2rem; }
            .price-list .list-table .table-form .table-box .table-inner .form-feature ul > li span {
              font-size: 1.8rem; }
  .price-table {
    padding: 8rem 0; }
    .price-table .table-title {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      .price-table .table-title h2 {
        color: #2645b5;
        font-weight: 700;
        font-size: 2.8rem;
        margin-right: 2rem;
        text-transform: uppercase; }
        @media screen and (max-width: 1100px) {
          .price-table .table-title h2 {
            font-size: 2.6rem; } }
        @media screen and (max-width: 1024px) {
          .price-table .table-title h2 {
            font-size: 2.2rem; } }
        @media screen and (max-width: 600px) {
          .price-table .table-title h2 {
            font-size: 1.8rem; } }
        @media screen and (max-width: 420px) {
          .price-table .table-title h2 {
            text-align: center; } }
      .price-table .table-title i {
        border-radius: 50%;
        padding: 1.3rem 1rem;
        cursor: pointer;
        background-color: #f7f7ff; }
        .price-table .table-title i::before {
          font-size: 1rem;
          color: #354fa7; }
    .price-table .table-option {
      margin-top: 5rem;
      overflow: auto; }
      .price-table .table-option > table {
        width: 100%;
        background: #fff;
        border: 1px solid #f5f5f5;
        box-shadow: 0px 2px 10px #f0f0f0; }
        @media screen and (max-width: 700px) {
          .price-table .table-option > table {
            min-width: 100rem; } }
        .price-table .table-option > table th {
          font-size: 2rem;
          padding: 2rem 1rem;
          background: #fff; }
          .price-table .table-option > table th:not(:last-child) {
            border-right: 1px solid #e5e5e5; }
          .price-table .table-option > table th:nth-child(2) {
            color: #5e5e5e; }
          .price-table .table-option > table th:nth-child(3) {
            color: #1cc564; }
          .price-table .table-option > table th:nth-child(4) {
            color: #ffc107; }
          .price-table .table-option > table th:nth-child(5) {
            color: #28b0ff; }
        .price-table .table-option > table tr:nth-child(2n) {
          background: #f7f7ff; }
        .price-table .table-option > table tr:hover {
          transition: 0.2s ease;
          background: #f7f7ff; }
        .price-table .table-option > table tr.group {
          background: #f7f7ff; }
          .price-table .table-option > table tr.group td {
            font-size: 2rem;
            color: #2f281e;
            font-weight: 700; }
        .price-table .table-option > table tr td {
          font-size: 1.8rem;
          padding: 1.5rem;
          text-align: center;
          color: #262626; }
          .price-table .table-option > table tr td:first-child {
            text-align: left; }

.footer {
  background: #fafafa; }
  .footer-box {
    padding-top: 5.5rem;
    padding-bottom: 4rem; }
    .footer-box-top {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      padding-bottom: 6rem;
      flex-wrap: wrap; }
      @media screen and (max-width: 1010px) {
        .footer-box-top {
          padding-bottom: 4rem; } }
    .footer-box-inner:nth-child(1) {
      width: 85%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
      @media screen and (max-width: 850px) {
        .footer-box-inner:nth-child(1) {
          width: 100%;
          justify-content: center; } }
      @media screen and (max-width: 680px) {
        .footer-box-inner:nth-child(1) {
          flex-direction: column; } }
    .footer-box-inner:nth-child(2) {
      width: 15%; }
      @media screen and (max-width: 850px) {
        .footer-box-inner:nth-child(2) {
          width: 100%;
          margin-top: 2rem; } }
    .footer-box-social > ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media screen and (max-width: 850px) {
        .footer-box-social > ul {
          justify-content: center; } }
      .footer-box-social > ul > li:not(:last-child) {
        padding-right: 1.5rem; }
      .footer-box-social > ul > li > a {
        width: 40px;
        height: 40px;
        display: block;
        position: relative; }
      .footer-box-social > ul > li > a > img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 2s infinite alternate; }
    .footer-box-logo:not(:last-child) {
      padding-right: 8rem; }
      @media screen and (max-width: 680px) {
        .footer-box-logo:not(:last-child) {
          padding-right: 0;
          margin-bottom: 2rem; } }
    .footer-box-logo a {
      display: block;
      position: relative; }
      @media screen and (max-width: 680px) {
        .footer-box-logo a {
          margin: 0 auto; } }
      .footer-box-logo a img {
        object-fit: contain; }
    .footer-box-logo:nth-child(1) a {
      width: 10.8rem;
      height: 4rem; }
    .footer-box-logo:nth-child(2) a {
      width: 18.2rem;
      height: 4rem; }
    .footer-box-logo:nth-child(3) a {
      width: 19.8rem;
      height: 4rem; }
    .footer-box-mail {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 1024px) {
        .footer-box-mail {
          padding-top: 30px;
          padding-right: 0; } }
      @media screen and (max-width: 365px) {
        .footer-box-mail {
          flex-wrap: wrap; } }
      .footer-box-mail > a {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center; }
        @media screen and (max-width: 365px) {
          .footer-box-mail > a {
            justify-content: center; } }
        .footer-box-mail > a:nth-child(1) {
          padding-right: 50px; }
          @media screen and (max-width: 365px) {
            .footer-box-mail > a:nth-child(1) {
              padding-right: 0;
              padding-bottom: 20px; } }
        .footer-box-mail > a:hover {
          color: #174ae6; }
        .footer-box-mail > a:nth-child(1) > span {
          color: #1665d8; }
        .footer-box-mail > a:nth-child(1) > img {
          width: 2.5rem;
          height: 1.8rem; }
        .footer-box-mail > a:nth-child(2) > img {
          width: 1.8rem;
          height: 1.8rem; }
        .footer-box-mail > a > img {
          margin-right: 0.8rem; }
    .footer-box-col h3 {
      padding-bottom: 1.2rem;
      color: #544837; }
    .footer-box-col p {
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 1.2rem;
      text-transform: uppercase; }
    .footer-box-bottom {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px; }
      @media screen and (max-width: 610px) {
        .footer-box-bottom {
          text-align: center; } }
      .footer-box-bottom li {
        padding-bottom: 1.2rem; }
        .footer-box-bottom li a:hover {
          color: #174ae6; }
        .footer-box-bottom li a.hover {
          cursor: unset; }
          .footer-box-bottom li a.hover:hover {
            color: unset; }
      .footer-box-bottom .footer-box-col:nth-child(1) {
        width: 50%; }
        @media screen and (max-width: 1010px) {
          .footer-box-bottom .footer-box-col:nth-child(1) {
            width: 33.333%; } }
        @media screen and (max-width: 765px) {
          .footer-box-bottom .footer-box-col:nth-child(1) {
            width: 50%; } }
        @media screen and (max-width: 610px) {
          .footer-box-bottom .footer-box-col:nth-child(1) {
            width: 100%;
            margin-bottom: 2rem; } }
        .footer-box-bottom .footer-box-col:nth-child(1) > ul > li:nth-child(1) > a > span {
          font-weight: 500; }
        .footer-box-bottom .footer-box-col:nth-child(1) > ul > li:nth-child(3) > a > span {
          font-weight: 500;
          color: #174ae6; }
        .footer-box-bottom .footer-box-col:nth-child(1) > ul > li:nth-child(5) {
          width: 140px;
          height: 54px;
          display: block;
          position: relative; }
          @media screen and (max-width: 610px) {
            .footer-box-bottom .footer-box-col:nth-child(1) > ul > li:nth-child(5) {
              margin: 0 auto; } }
      .footer-box-bottom .footer-box-col:nth-child(2) {
        width: 25%; }
        @media screen and (max-width: 1010px) {
          .footer-box-bottom .footer-box-col:nth-child(2) {
            width: 33.333%;
            text-align: center; } }
        @media screen and (max-width: 765px) {
          .footer-box-bottom .footer-box-col:nth-child(2) {
            width: 50%; } }
        @media screen and (max-width: 610px) {
          .footer-box-bottom .footer-box-col:nth-child(2) {
            width: 100%;
            margin-bottom: 2rem; } }
        .footer-box-bottom .footer-box-col:nth-child(2) h3 {
          padding-bottom: 2.5rem; }
      .footer-box-bottom .footer-box-col:nth-child(3) {
        width: 25%; }
        @media screen and (max-width: 1010px) {
          .footer-box-bottom .footer-box-col:nth-child(3) {
            width: 33.333%; } }
        @media screen and (max-width: 765px) {
          .footer-box-bottom .footer-box-col:nth-child(3) {
            width: 50%; } }
        @media screen and (max-width: 610px) {
          .footer-box-bottom .footer-box-col:nth-child(3) {
            width: 100%; } }
      .footer-box-bottom .dots a {
        padding-left: 1.5rem; }
        .footer-box-bottom .dots a::before {
          content: "";
          width: 6px;
          height: 6px;
          position: absolute;
          background: #26262680;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          transition: 0.4s ease; }
        .footer-box-bottom .dots a:hover::before {
          font-weight: 700;
          background: #1665d8; }
    .footer-box-policy {
      padding: 10px 0;
      background-color: #eeeeee; }
      .footer-box-policy .policy-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center; }
        @media screen and (max-width: 680px) {
          .footer-box-policy .policy-box {
            flex-direction: column; } }
        .footer-box-policy .policy-box a {
          position: relative;
          padding: 0 4.5rem; }
          @media screen and (max-width: 680px) {
            .footer-box-policy .policy-box a {
              margin: 4px; }
              .footer-box-policy .policy-box a:nth-child(2) > p::before {
                left: -1.6rem; }
              .footer-box-policy .policy-box a:nth-child(3) > p::before {
                left: -1.9rem; } }
          .footer-box-policy .policy-box a > p {
            font-size: 14px;
            position: relative; }
            .footer-box-policy .policy-box a > p::before {
              content: "";
              width: 8px;
              height: 8px;
              background: #919191;
              border-radius: 50%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: -1.5rem;
              margin: auto; }
            .footer-box-policy .policy-box a > p:hover {
              color: #174ae6;
              transition: 0.2s ease-in-out; }
            .footer-box-policy .policy-box a > p:hover::before {
              background: #174ae6;
              transition: 0.2s ease-in-out; }
