.dcm {
  .hd {
    .submobile {
      border-top-color: $color-four;
    }
    .menu {
      &-item {
        &.product {
          > a {
            &::after {
              background: #fff5d7;
            }
          }
        }
        @include min(1201px) {
          &:hover {
            > a {
              color: $color-four;
            }
            .ic-down {
              &::before {
                color: $color-four;
              }
            }
          }
        }
        > a {
          &::before {
            background: $color-four;
          }
        }
        &.current-page-item {
          > a {
            color: $color-four;
          }
        }
      }
    }
    .btn {
      &-hover {
        background: $color-four;
        &::after {
          background: #ffd75e;
        }
      }
    }
  }
  .ft {
    &-center {
      &-cl {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                h2 {
                  color: $color-four;
                }
                a[href] {
                  color: $color-four;
                  &.dot {
                    &::before {
                      background: $color-four;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-bottom {
      &-policy {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                a[href] {
                  color: $color-four;
                  &.dot {
                    &::before {
                      background: $color-four;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-background {
    background: #fafafa;
  }
  .bn {
    .btn-link {
      background: linear-gradient(
        180deg,
        #ffe9a6 -0.01%,
        #ffd75e 36.83%,
        #ffc822 100%
      );
      &::after {
        background: #ffd75e;
      }
    }
  }
  .section-title {
    .title {
      color: $color-four;
      span {
        color: $color-four;
      }
    }
  }
  .content {
    &-title {
      color: $color-four;
    }
    &-subtitle {
      color: #262626;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 3.2rem;
    }
  }
  .connect {
    .new-link {
      a {
        color: $color-black;
      }
    }
  }
  .home {
    .connect {
      .bn-content {
        h2 {
          color: $color-black;
        }
      }
    }
  }
  .customer {
    .new-content {
      background: $color-white;
    }
  }
  .flex-col {
    flex-direction: column;
    .content-title {
      text-align: center;
    }
    .content-column {
      width: 100%;
    }
  }
}
