.dpm {
  .hd {
    .submobile {
      border-top-color: $color-fiveteen;
    }
    .menu {
      &-item {
        &.product {
          > a {
            &::after {
              background: #e6ecff;
            }
          }
        }
        @include min(1201px) {
          &:hover {
            > a {
              color: $color-fiveteen;
            }
            .ic-down {
              &::before {
                color: $color-fiveteen;
              }
            }
          }
        }
        > a {
          &::before {
            background: $color-fiveteen;
          }
        }
        &.current-page-item {
          > a {
            color: $color-fiveteen;
          }
        }
      }
    }
    .btn {
      &-hover {
        background: $color-fiveteen;
      }
    }
  }
  .ft {
    &-center {
      &-cl {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                h2 {
                  color: $color-fiveteen;
                }
                a[href] {
                  color: $color-fiveteen;
                  &.dot {
                    &::before {
                      background: $color-fiveteen;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-bottom {
      &-policy {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                a[href] {
                  color: $color-fiveteen;
                  &.dot {
                    &::before {
                      background: $color-fiveteen;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bn {
    .btn-link {
      background: linear-gradient(
        180deg,
        #94abff -0.01%,
        #3456cf 50%,
        #2645b5 100%
      );
    }
  }
  .section-title {
    .title {
      color: $color-fiveteen;
      span {
        color: $color-fiveteen;
      }
    }
  }
  .price {
    .section-background {
      background: linear-gradient(0deg, #fff -6.16%, #f3f3ff 42.61%);
    }
  }
  .section-background {
    background: #f9f9ff;
  }
  .content {
    &-title {
      color: $color-fiveteen;
    }
  }
  .connect {
    .new-link {
      a {
        color: $color-fiveteen;
      }
    }
  }
}
