.dsign {
  .hd {
    .submobile {
      border-top-color: $color-five;
    }
    .menu {
      &-item {
        &.product {
          > a {
            &::after {
              background: #e2ffe1;
            }
          }
        }
        @include min(1201px) {
          &:hover {
            > a {
              color: $color-five;
            }
            .ic-down {
              &::before {
                color: $color-five;
              }
            }
          }
        }
        > a {
          &::before {
            background: $color-five;
          }
        }
        &.current-page-item {
          > a {
            color: $color-five;
          }
        }
      }
    }
    .btn {
      &-hover {
        background: $color-five;
        &::after {
          background: #35e881;
        }
      }
    }
  }
  .bn {
    &-mask {
      &::before {
        content: "";
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, #ffffff 20%, #f1fff5 100%);
      }
    }
    .btn-link {
      background: linear-gradient(
        180deg,
        #d3ffe6 -0.01%,
        #20d56d 50%,
        #00b94f 100%
      );
      &::after {
        background: #35e881;
      }
    }
  }
  .ft {
    &-center {
      &-cl {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                h2 {
                  color: $color-five;
                }
                a[href] {
                  color: $color-five;
                  &.dot {
                    &::before {
                      background: $color-five;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-bottom {
      &-policy {
        ul {
          li {
            @include min(1201px) {
              &:hover {
                a[href] {
                  color: $color-five;
                  &.dot {
                    &::before {
                      background: $color-five;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content-title {
    color: $color-five;
  }
  .connect {
    .new-link {
      a {
        color: $color-five;
      }
    }
  }
  .title {
    color: $color-five;
    span {
      color: $color-five;
    }
  }
  .step {
    &-item {
      margin: 0 -2.5rem;
      flex-wrap: wrap;
      @include flex-al;
      &-column {
        text-align: center;
        padding: 0 2.5rem;
        width: calc(100% / 5);
        flex-direction: column;
        @include flex;
        &:nth-child(1) {
          .circle {
            &::before {
              content: "01";
              top: 0;
            }
            &::after {
              background-image: url("../assets/img/tong-quan-dsign/arrow1.svg");
            }
          }
        }
        &:nth-child(2) {
          .circle {
            &::before {
              content: "02";
              bottom: 0;
            }
            &::after {
              background-image: url("../assets/img/tong-quan-dsign/arrow2.svg");
            }
          }
        }
        &:nth-child(3) {
          .circle {
            &::before {
              content: "03";
              top: 0;
            }
            &::after {
              background-image: url("../assets/img/tong-quan-dsign/arrow1.svg");
            }
          }
        }
        &:nth-child(4) {
          .circle {
            &::before {
              content: "04";
              bottom: 0;
            }
            &::after {
              background-image: url("../assets/img/tong-quan-dsign/arrow2.svg");
            }
          }
        }
        &:nth-child(5) {
          .circle {
            &::before {
              content: "05";
              top: 0;
            }
            &::after {
              display: none;
            }
          }
        }
        .circle {
          padding: 3rem 0;
          position: relative;
          &::before {
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            font-weight: 600;
            width: fit-content;
            position: absolute;
            line-height: 2.2rem;
            font-size: 2.3rem;
          }
          &::after {
            content: "";
            width: 14rem;
            height: 21rem;
            top: 0;
            bottom: 0;
            right: -10rem;
            display: block;
            margin: auto;
            position: absolute;
            background-repeat: no-repeat;
          }
        }
        .icon {
          z-index: 3;
          padding: 6rem;
          position: relative;
          border-radius: 50%;
          background: $color-white;
          transition: 0.4s ease-in-out;
          border: 0.4rem solid #efefef;
          @include min(1201px) {
            &:hover {
              border-color: $color-five;
              img {
                transform: scale(1.1);
              }
            }
          }
          img {
            width: 5rem;
            height: 6rem;
            margin: auto;
            object-fit: contain;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
    &-table {
      @include max(1200px) {
        overflow: auto;
      }
    }
    &-overflow {
      margin-bottom: -3rem;
      @include max(1200px) {
        gap: 2rem;
        min-width: 120rem;
        margin-bottom: 0;
        flex-direction: column;
        @include flex;
      }
      > div {
        padding-bottom: 3rem;
        @include max(1200px) {
          padding-bottom: 0;
        }
      }
    }
    &-arrow {
      &-row {
        margin: 0 -0.5rem;
        flex-wrap: wrap;
        @include flex-al;
      }
      &-item {
        padding: 0 0.5rem;
        position: relative;
        width: calc(100% / 5);
        &::before {
          content: "";
          top: 0;
          left: 0.5rem;
          bottom: 0;
          width: 1rem;
          height: 100%;
          margin: auto;
          display: block;
          z-index: 1;
          background: #fafafa;
          position: absolute;
          clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%, 0% 0%);
        }
        span {
          display: block;
          color: #fff;
          padding: 1rem;
          text-align: center;
          font-weight: 600;
          background: #00c86b;
          clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%, 0% 0%);
        }
      }
    }
  }
  .btn-play {
    top: 50%;
    left: 50%;
    z-index: 4;
    width: 6.1rem;
    height: 6.1rem;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background: rgba(223, 223, 223, 0.8);
    transform: translate(-50%, -50%);
    @include min(1201px) {
      &:hover {
        img {
          animation: zoomInOut 1.5s ease-out infinite;
        }
        &::before {
          background: rgba(223, 223, 223, 0.8);
          animation: 2.5s ease 0s infinite normal none running pulse;
        }
      }
    }
    @include max(767px) {
      width: 5rem;
      height: 5rem;
    }
    .popup-youtube {
      width: 100%;
      height: 100%;
      display: block;
    }
    &::before {
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      transform: scale(2);
      @include max(1200px) {
        background: rgba(223, 223, 223, 0.8);
        animation: 2.5s ease 0s infinite normal none running pulse;
      }
    }
    img {
      width: 2.4rem;
      height: 3.4rem;
      filter: brightness(0) invert(1);
      @include max(767px) {
        width: 2rem;
        height: 3rem;
      }
    }
  }
  .product {
    &-currency {
      flex-direction: column;
    }
    &-user {
      span {
        font-size: 2.4rem;
      }
    }
  }
  .table {
    &-grid {
      table {
        tr {
          &.group {
            &.feature {
              ~ tr {
                &:nth-child(2n) {
                  background: rgba(226, 255, 225, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
  .workflow {
    &-wrap {
      margin: 0;
    }
    &-card {
      padding: 0;
      width: calc(100% / 3);
      &:nth-of-type(3n) {
        .workflow-list {
          border-right: 0;
        }
      }
      &:nth-child(n + 7) {
        .workflow-list {
          border-bottom: 0;
        }
      }
    }
    &-list {
      padding: 2rem;
      border-radius: 0;
      text-align: center;
      align-items: center;
      flex-direction: column;
      border-right: 0.1rem dashed #979797;
      border-bottom: 0.1rem dashed #979797;
      @include min(1201px) {
        &:hover {
          transition: none;
          box-shadow: unset;
          background: $color-five;
          img {
            transition: none;
            filter: brightness(0) invert(1);
          }
          .workflow-content {
            > * {
              color: $color-white;
            }
          }
        }
      }
    }
    &-content {
      h3 {
        font-size: 2rem;
      }
      h4 {
        font-size: 1.6rem;
      }
    }
  }
  .section-background {
    background: #fafafa;
  }
  .main {
    overflow: hidden;
  }
}
