.hub {
  .hd {
    .menu {
      &-item {
        &.product {
          > a {
            &::after {
              background: #daf1ff;
            }
          }
        }
      }
    }
  }
  &.hub {
    .section-title {
      .title {
        color: $color-second;
        span {
          color: $color-second;
        }
      }
    }
    .content {
      &-title {
        color: $color-second;
      }
    }
    .section-background {
      background: #f7fcff;
    }
    .connect {
      .new-link {
        a {
          color: $color-second;
        }
      }
    }
  }
}
