.section-page {
  .hd {
    .menu {
      &-item {
        &.product {
          cursor: default;
        }
        .ic {
          cursor: default;
        }
      }
    }
  }
  .flex-row-reverse {
    .content {
      &-row {
        flex-direction: row-reverse;
        @include max(767px) {
          flex-direction: row;
        }
      }
    }
  }
}
.section-subpage {
  .hd {
    .btn {
      &-register {
        font-weight: 600;
        padding: 0.9rem 3rem;
        cursor: pointer;
      }
    }
    .menu {
      &-item {
        &.product {
          @include min(1201px) {
            padding: 0.9rem 2.5rem;
          }
          > a {
            @include max(1200px) {
              padding: 1rem;
            }
            &::before {
              bottom: 0.5rem;
            }
            &::after {
              content: "";
              top: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 1.7rem;
            }
          }
        }
        .ic {
          @include max(1200px) {
            top: 2.4rem;
            right: 2.2rem;
          }
        }
      }
    }
    .submobile {
      top: 5.2rem;
      @include max(1200px) {
        top: unset;
      }
    }
    .btn {
      &-link {
        width: fit-content;
      }
    }
  }
  .fullScreen {
    .bn {
      &-title {
        h2 {
          color: #262626;
        }
      }
    }
  }
  .ft {
    &-center {
      &-cl {
        &:nth-child(2) {
          ul {
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            @include flex;
            li {
              @include min(1201px) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .connect {
    .new-link {
      min-width: 24rem;
      border-radius: 2rem;
      background: $color-white;
      &::after {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .main {
    .dot {
      &::before {
        top: 1.2rem;
        bottom: unset;
      }
    }
  }
}
.content {
  overflow: hidden;
  &-row {
    margin: 0 -4rem;
    flex-wrap: wrap;
    @include flex-al;
    @include max(1200px) {
      margin: 0 -2rem;
    }
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(767px) {
      gap: 1rem;
    }
  }
  &-column {
    padding: 0 4rem;
    width: calc(100% / 2);
    @include max(1200px) {
      padding: 0 2rem;
    }
    @include max(1200px) {
      padding: 0 1rem;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  &-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 3.6rem;
    @include max(1200px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    @include max(767px) {
      text-align: center;
    }
  }
  &-list {
    margin-bottom: -1.5rem;
    @include max(1200px) {
      margin-bottom: -1rem;
    }
  }
  &-item {
    padding-bottom: 1.5rem;
    @include max(1200px) {
      padding-bottom: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3.2rem;
      @include max(1200px) {
        font-size: 1.6rem;
      }
      @include max(767px) {
        font-size: 1.4rem;
      }
      span {
        font-weight: 600;
      }
    }
  }
  &-img {
    position: relative;
    padding-top: calc((300 / 460) * 100%);
    img {
      @include imgContain;
    }
  }
  &-box {
    padding-top: 1.5rem;
    justify-content: space-between;
    @include flex;
    @include max(767px) {
      gap: 5rem;
      justify-content: stretch;
    }
    .content-list {
      margin-bottom: 0;
    }
  }
}
.workflow {
  &-wrap {
    margin: 0 -2rem;
    margin-bottom: -4rem;
    flex-wrap: wrap;
    @include flex;
    @include max(991px) {
      margin: 0 -0.5rem;
      margin-bottom: -1rem;
    }
  }
  &-card {
    padding: 0 2rem;
    padding-bottom: 4rem;
    width: calc(100% / 2);
    @include max(991px) {
      padding: 0 0.5rem;
      padding-bottom: 1rem;
    }
    @include max(600px) {
      width: 100%;
    }
  }
  &-list {
    gap: 2rem;
    height: 100%;
    padding: 3rem;
    border-radius: 2rem;
    background: $color-white;
    @include flex;
    @include min(1201px) {
      &:hover {
        transition: 0.4s ease-in-out;
        box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.14);
      }
    }
    @include max(767px) {
      padding: 2rem;
      flex-direction: column;
    }
  }
  &-item {
    &:first-child {
      width: 7rem;
      @include max(767px) {
        margin: 0 auto;
      }
    }
    &:last-child {
      width: calc(100% - 7rem);
      @include max(767px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  &-img {
    img {
      width: 7rem;
      height: auto;
    }
  }
  &-content {
    flex-direction: column;
    @include flex;
    h3 {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: normal;
      padding-bottom: 1rem;
      @include max(991px) {
        font-size: 2rem;
      }
    }
    h4 {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.6rem;
      color: $color-seven;
      @include max(991px) {
        font-size: 1.6rem;
      }
    }
  }
}
