.rotate {
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@keyframes mysecond {
  0% {
    right: 20%;
    top: 0px;
  }

  25% {
    right: 25%;
    top: 0px;
  }

  50% {
    right: 20%;
    top: 100px;
  }

  75% {
    right: 25%;
    top: 100px;
  }

  100% {
    right: 20%;
    top: 0px;
  }
}
