@import url("../assets/font/Raleway/stylesheet.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    height: 100%;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 16px;
  }
  :hover::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  padding-top: 7rem;
  overflow: hidden;
}

button,
select {
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 15px;
}

.shine {
  will-change: transform;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      (120deg),
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    left: -100%;
    transition: 0.4s ease-in-out 0s;
  }
  &:hover::before {
    left: 100%;
  }
}
