$color-first: #0060ff;
$color-second: #1665d8;
$color-thrid: #1d3a89;
$color-four: #ffc107;
$color-five: #00c86b;
$color-six: #544837;
$color-seven: #858585;
$color-eight: #0091ff;
$color-ten: #28b0ff;
$color-eleven: #424d54;
$color-twelve: #2f281e;
$color-thirteen: #415086;
$color-fourteen: #cfcfcf;
$color-white: #fff;
$color-black: #000;

.section-padding {
  padding: 6rem 0;
  @include max(1200px) {
    padding: 4rem 0;
  }
}

.dot {
  position: relative;
  padding-left: 1.5rem;
  &::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    transition: 0.4s ease-in-out;
    background: rgba(38, 38, 38, 0.5);
    @include cir(0.6rem);
  }
}

.logo {
  display: block;
  height: 4rem;
  &.vuthao {
    width: 11rem;
  }
  &.ketnoiphang {
    width: 18.2rem;
  }
}
