$color-first: #174ae6;
$color-second: #28b0ff;
$color-thrid: #ff833b;
$color-four: #ffc107;
$color-five: #00c86b;
$color-six: #544837;
$color-seven: #858585;
$color-eight: #0091ff;
$color-ten: #28b0ff;
$color-eleven: #424d54;
$color-twelve: #2f281e;
$color-thirteen: #415086;
$color-fourteen: #cfcfcf;
$color-white: #fff;
$color-black: #000;

.section-background {
  background: #eef6ff;
}

.section-padding {
  padding: 6rem 0;
  @include max(1200px) {
    padding: 4rem 0;
  }
}

.title {
  font-weight: 700;
  line-height: 3.4rem;
  color: $color-black;
  font-size: 2.8rem;
  span {
    color: $color-first;
  }
  @include max(1200px) {
    font-size: 2.4rem;
  }
  @include max(767px) {
    font-size: 2rem;
  }
}

.section-title {
  margin-bottom: 4rem;
  .title {
    color: $color-eight;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.4rem;
    @include max(1200px) {
      font-size: 2rem;
      line-height: normal;
    }
    @include max(767px) {
      font-size: 1.6rem;
    }
  }
}

.dot {
  position: relative;
  padding-left: 1.5rem;
  &::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    transition: 0.4s ease-in-out;
    background: rgba(38, 38, 38, 0.5);
    @include cir(0.6rem);
  }
}

.numbering {
  padding-left: 3rem;
  span {
    width: 1.4rem;
    font-weight: 600;
    display: inline-block;
  }
}

.logo {
  display: block;
  height: 4rem;
  &.vuthao {
    width: 11rem;
  }
  &.ketnoiphang {
    width: 18.2rem;
  }
}

.btn-hover {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;
  border-radius: 0.6rem;
  background: linear-gradient(
    180deg,
    #4cd9ed -0.01%,
    #47aaec 50%,
    #437fec 100%
  );
  @include min(1201px) {
    &:hover {
      a {
        color: $color-white;
      }
      &::after {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
  &::after {
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    position: absolute;
    background: #0060ff57;
    transition: 0.4s ease-in-out;
  }
  a {
    z-index: 3;
    width: 100%;
    display: block;
    font-weight: 700;
    padding: 1.05rem;
    overflow: hidden;
    position: relative;
    color: $color-white;
    transition: 0.4s ease-in-out;
  }
}

.tabContent {
  display: none;
  &.open {
    display: block;
    animation: fadeInUp 1s ease-in-out;
  }
}

.box-tag {
  gap: 0.5rem;
  flex-wrap: wrap;
  @include flex-btw;
}

.tag {
  display: block;
  font-weight: 500;
  width: fit-content;
  color: $color-first;
  line-height: 2.2rem;
  padding: 0.4rem 1.5rem;
  background: #eef2ff;
  border-radius: 0.5rem;
  @include max(1200px) {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

.time {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  width: fit-content;
  color: $color-seven;
  line-height: 2.2rem;
}

.desc {
  font-weight: 400;
  color: $color-seven;
  line-height: 1.8rem;
  @include lc(3);
}
