.company {
  &-inner {
  }
  &-body {
    & .body-form {
      padding: 7rem 0;
      @include max(1024px) {
        padding: 5rem 0;
      }
      & div.form-list {
        @include flex();
        align-items: center;
        margin: 0 -2rem;
        @include max(768px) {
          flex-direction: column;
        }
        & .list-col {
          width: 50%;
          padding: 0 2rem;
          position: relative;
          @include max(768px) {
            width: 100%;
            margin-bottom: 3rem;
          }
          &:nth-child(1) {
            h2 {
              font-size: 3rem;
              color: #2645b5;
              margin-bottom: 2.5rem;
              @include max(1024px) {
                font-size: 2.6rem;
              }
              @include max(610px) {
                margin-bottom: 2rem;
              }
              @include max(500px) {
                font-size: 2rem;
              }
            }
            p {
              font-size: 2.4rem;
              color: #262626;
              @include max(1024px) {
                font-size: 2rem;
              }
              @include max(500px) {
                font-size: 1.6rem;
              }
              span {
                font-weight: 600;
              }
            }
          }
          &:nth-child(2) {
            & .img-1 {
              z-index: 1;
              position: relative;
              padding-top: calc((290 / 516) * 100%);
            }
            & .img-2 {
              z-index: 2;
              width: 6rem;
              height: 6rem;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              position: absolute;
              a {
                &::before {
                  content: "";
                  width: 8rem;
                  height: 8rem;
                  display: block;
                  top: -12px;
                  bottom: 0;
                  right: 0;
                  left: -10px;
                  border-radius: 50%;
                  background: #cecece;
                  position: absolute;
                  opacity: 0;
                }
                &:hover::before {
                  animation: pulse 2.5s infinite;
                }
                img {
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
  &.right {
    background-color: #f9f9ff;
    & .form-list {
      flex-direction: row-reverse;
    }
  }
}
