.banner {
  &-list {
  }
  &-wrap {
  }
  &-content {
    position: relative;
    &-img {
      position: relative;
      padding-top: calc((700 / 1728) * 115%);
      @include max(1100px) {
        padding-top: calc((700 / 1728) * 145%);
      }
      @include max(880px) {
        padding-top: calc((700 / 1728) * 180%);
      }
      @include max(700px) {
        padding-top: calc((700 / 1728) * 220%);
      }
      @include max(700px) {
        padding-top: calc((700 / 1728) * 250%);
      }
      @include max(600px) {
        padding-top: calc((700 / 1728) * 280%);
      }
      @include max(500px) {
        padding-top: calc((700 / 1728) * 350%);
      }
      @include max(450px) {
        padding-top: calc((700 / 1728) * 400%);
      }
    }
    &-title {
      position: absolute;
      top: -20%;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include max(700px) {
        top: 10%;
      }
      & .content-box {
        width: 100%;
        height: 100%;
        @include flex();
        align-items: center;
        @include max(700px) {
          justify-content: start;
          flex-direction: column-reverse;
        }
        & .box-left {
          width: 50%;
          @include max(1100px) {
            width: 50%;
          }
          @include max(700px) {
            width: 100%;
            margin-top: 4rem;
          }
          & .content {
            padding-top: 0;
            h1 {
              color: #2f281e;
              font-size: 5rem;
              font-weight: 700;
              margin-bottom: 2rem;
              @include max(1100px) {
                font-size: 4rem;
              }
              @include max(1000px) {
                font-size: 3.5rem;
              }
              @include max(880px) {
                font-size: 3rem;
              }
              @include max(760px) {
                font-size: 2.6rem;
              }
              @include max(400px) {
                font-size: 2.2rem;
              }
            }
            p {
              font-size: 2.6rem;
              color: #262626;
              line-height: 36px;
              margin-bottom: 40px;
              @include max(1100px) {
                font-size: 2.2rem;
              }
              @include max(1000px) {
                font-size: 2rem;
              }
              @include max(760px) {
                font-size: 1.6rem;
              }
              @include max(400px) {
                font-size: 1.4rem;
              }
              span {
                font-weight: 700;
              }
            }
          }
          & .button {
            width: fit-content;
            position: relative;
            a {
              background: linear-gradient(
                180deg,
                #94abff -0.01%,
                #3456cf 50%,
                #2645b5 100%
              );
              border-radius: 1.75rem;
              padding: 0.92rem 4rem;
              @include max(400px) {
                padding: 1rem 4.5rem;
              }
              span {
                color: #fff;
                font-weight: 700;
              }
            }
          }
        }
        & .box-right {
          width: 50%;
          @include max(700px) {
            width: 60%;
          }
          @include max(500px) {
            width: 100%;
          }
          & .content-img {
            position: relative;
            padding-top: calc((340 / 572) * 100%);
            img{
              object-fit: contain;
            }
          }
        }
      }
    }
    &.customer {
      & .banner-content-img {
        padding-top: calc((700 / 1728) * 125%);
      }
      & .banner-content-title {
        top: 0;
        & .content-box {
          flex-direction: column;
          justify-content: center;
          & .box-left {
            width: 70%;
            margin-bottom: 3rem;
            text-align: center;
          }
          & .box-right {
            width: 50%;
          }
        }
        & .box-right {
          & .content-img {
            position: relative;
            padding-top: calc((406 / 572) * 100%);
          }
        }
      }
    }
  }
}
