.introduce {
  .text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    @include max(1200px) {
      font-size: 1.4rem;
      text-align: left;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    a {
      margin: 0;
      display: inline-block;
    }
    span {
      font-weight: 600;
    }
  }
  .title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    @include max(767px){
      font-size: 2rem;
    }
  }
  .link {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 2.4rem;
    @include max(1200px) {
      font-size: 1.4rem;
    }
    span {
      font-weight: 600;
      color: $color-second;
    }
  }
  .dot {
    &::before {
      top: 1rem;
      bottom: unset;
    }
  }
  .number {
    width: 4.6rem;
    height: 4.6rem;
    color: $color-black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &-one {
      background: rgba(52, 185, 51, 0.5);
      border-radius: 54% 46% 61% 39% / 59% 50% 50% 41%;
    }
    &-two {
      background: rgba(40, 176, 255, 0.5);
      border-radius: 51% 49% 57% 43% / 59% 29% 71% 41%;
    }
    &-three {
      background: #ffc10780;
      border-radius: 42% 58% 51% 49% / 52% 21% 79% 48%;
    }
    &-four {
      background: #6989f780;
      border-radius: 36% 64% 33% 67% / 27% 43% 57% 73%;
    }
  }
  .table {
    width: 100%;
    margin-bottom: -2rem;
    tr {
      td {
        min-width: 26.5rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-bottom: 2rem;
        text-align: justify;
        @include max(1200px) {
          font-size: 1.4rem;
          text-align: left;
        }
        @include max(767px) {
          display: block;
        }
        &:nth-child(1) {
          font-weight: 600;
          padding-right: 2rem;
        }
      }
    }
  }
  &-wrap {
    margin: 0 -2rem;
    @include flex;
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(991px) {
      margin: 0;
      row-gap: 2rem;
      flex-wrap: wrap;
    }
  }
  &-column {
    padding: 0 2rem;
    @include max(1200px) {
      padding: 0 1rem;
    }
    @include max(991px) {
      padding: 0;
    }
    &:nth-child(1) {
      width: 20%;
      @include max(991px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: 80%;
      @include max(991px) {
        width: 100%;
      }
    }
  }
  .link-list {
    margin-bottom: -2rem;
    flex-direction: column;
    @include flex;
    @include max(991px) {
      gap: 4rem;
      padding: 2rem 0;
      margin-bottom: 0;
      position: relative;
      overflow: auto hidden;
      flex-direction: initial;
    }
  }
  .link-item {
    padding-bottom: 2rem;
    @include max(991px) {
      padding-bottom: 0;
    }
    a {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.2rem;
      transition: 0.4s ease-in-out;
      @include min(1201px) {
        &:hover {
          color: $color-second;
        }
      }
      @include max(991px) {
        font-size: 1.4rem;
        white-space: nowrap;
      }
      &.selected {
        font-weight: 600;
        color: $color-second;
      }
    }
  }
  &-link {
    top: 10rem;
    position: sticky;
    @include max(991px) {
      top: unset;
      position: relative;
      &::before {
        content: "";
        top: 0;
        left: -1.5rem;
        height: 0.1rem;
        position: absolute;
        background: #cfcfcf;
        width: calc(100% + 3rem);
      }
      &::after {
        content: "";
        bottom: 0;
        left: -1.5rem;
        height: 0.1rem;
        position: absolute;
        background: #cfcfcf;
        width: calc(100% + 3rem);
      }
    }
  }
  &-infomation {
    &:not(:last-child) {
      padding-bottom: 4rem;
      @include max(767px){
        padding-bottom: 2rem;
      }
    }
  }
  &-content {
    margin-bottom: -4rem;
    @include max(767px) {
      margin-bottom: 0;
    }
    &-list {
      margin: 0 -2rem;
      padding-bottom: 4rem;
      @include flex-al;
      @include max(1200px) {
        margin: 0 -1rem;
      }
      @include max(767px) {
        row-gap: 2rem;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        flex-direction: column-reverse;
      }
      &.flex-reserve {
        flex-direction: row-reverse;
        @include max(767px) {
          row-gap: 2rem;
          flex-direction: column-reverse;
        }
      }
      &.content-img {
        align-items: normal;
        flex-direction: column;
        > div {
          display: block;
          overflow: hidden;
          position: relative;
          padding-top: calc((340 / 760) * 100%);
          img {
            @include imgCover;
          }
        }
      }
    }
    &-column {
      padding: 0 2rem;
      @include max(1200px) {
        padding: 0 1rem;
      }
      &:nth-child(1) {
        width: 40%;
        @include max(767px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 60%;
        @include max(767px) {
          width: 100%;
        }
      }
    }
  }
}

.policy {
  .introduce {
    &-infomation {
      padding-bottom: 0;
    }
  }
}

.rules {
  .introduce {
    &-infomation {
      &:nth-child(3),
      &:nth-child(5) {
        margin-top: 2rem;
        @include max(767px){
          margin-bottom: 0;
        }
      }
    }
    &-box {
      &:nth-child(6) {
        .text.dot {
          margin-bottom: 2rem;
          @include max(767px){
            margin-bottom: 0;
          }
        }
      }
      &:nth-child(8) {
        .text.dot {
          &:last-child {
            margin-bottom: 2rem;
            @include max(767px){
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
