.company {
  &-inner {
  }
  &-body {
    & .body-form {
      padding: 7rem 0;
      & .form-list {
        @include flex();
        align-items: center;
        margin: 0 -2rem;
        & .list-col {
          width: 50%;
          padding: 0 2rem;
          position: relative;
          &:nth-child(1) {
            h2 {
              font-size: 3rem;
              color: #2645b5;
              margin-bottom: 2.5rem;
            }
            p {
              font-size: 2.6rem;
              color: #262626;
              span {
                font-weight: 600;
              }
            }
          }
          &:nth-child(2) {
            & .img-1 {
              position: relative;
              padding-top: calc((290 / 516) * 100%);
            }
            & .img-2 {
              width: 6rem;
              height: 6rem;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              position: absolute;
            }
            img{
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  &.right{
    background-color: #f9f9ff;
    & .form-list{
      flex-direction: row-reverse;
    }
  }
}
