.footer {
  overflow: hidden;
  background: #fafafa;
}

.ft {
  &-top {
    padding-top: 6rem;
    @include flex-btw;
    @include max(1200px) {
      padding-top: 4rem;
    }
    @include max(650px) {
      row-gap: 2rem;
      flex-direction: column;
    }
    &-cl {
      flex-wrap: nowrap;
      @include flex-al;
      &:nth-child(1) {
        gap: 8rem;
        @include max(650px) {
          gap: 2rem;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
    &-social {
      gap: 1.5rem;
      @include flex-al;
      a {
        display: inline-block;
        @include sqr(4rem);
      }
    }
  }
  &-center {
    &-wrap {
      margin: 0 -2rem;
      row-gap: 4rem;
      flex-wrap: wrap;
      @include flex;
      @include max(991px) {
        margin: 0 -1rem;
        row-gap: 2rem;
      }
      @include max(767px) {
        margin: 0 -0.5rem;
      }
    }
    &-cl {
      padding: 0 2rem;
      width: calc(100% / 3);
      @include max(991px) {
        padding: 0 1rem;
        width: calc(100% / 2);
      }
      @include max(767px) {
        padding: 0 0.5rem;
      }
      @include max(650px) {
        width: 100%;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 1.2rem;
          }
          @include min(1201px) {
            &:hover {
              h2 {
                color: $color-second;
              }
              a[href] {
                color: $color-second;
                &.dot {
                  &::before {
                    background: $color-second;
                  }
                }
              }
            }
          }
          h2 {
            color: $color-six;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.2rem;
            transition: 0.4s ease-in-out;
            @include max(1200px) {
              font-size: 1.6rem;
            }
          }
          a {
            font-size: 1.4rem;
            line-height: 2rem;
            transition: 0.4s ease-in-out;
          }
          span {
            font-weight: 600;
            transition: 0.4s ease-in-out;
          }
        }
      }
      &:nth-child(1) {
        ul {
          li {
            &:nth-child(4) {
              @include min(1201px) {
                &:hover {
                  a[href] {
                    color: #262626;
                  }
                }
              }
              span {
                color: $color-second;
              }
            }
            &:nth-child(5) {
              @include min(1201px) {
                &:hover {
                  a[href] {
                    color: #262626;
                  }
                  span {
                    color: $color-second;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-child(3) {
        ul {
          li {
            &:nth-child(2),
            &:nth-child(5) {
              a {
                text-transform: uppercase;
              }
            }
          }
        }
      }
      &:nth-child(4) {
        @include max(991px) {
          display: none;
        }
      }
    }
    &-img {
      width: 13.8rem;
      height: 5.2rem;
      img {
        object-fit: contain;
      }
    }
  }
  &-bottom {
    &-wrap {
      padding: 1rem 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 100vw;
        background: #eee;
        transform: translateX(-50%);
      }
    }
    &-policy {
      ul {
        gap: 6rem;
        @include flex-ct;
        @include max(767px) {
          gap: 2rem;
          overflow: auto hidden;
        }
        @include max(542px) {
          justify-content: initial;
        }
        li {
          @include min(1201px) {
            &:hover {
              a[href] {
                color: $color-second;
                &.dot {
                  &::before {
                    background: $color-second;
                  }
                }
              }
            }
          }
          a {
            line-height: normal;
            white-space: nowrap;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
